body{
  margin:0;
  background:#ccc;
  color:#fff;
  font-family: 'Courier New',sans-serif;
  font-size:16px;
  font-weight: bold;
}

header {
  background-color: #34d7ac;
  margin-bottom: 15px;
  border-top: solid 5px;
  border-bottom: solid 5px;
  border-color: #ffff;
  text-align: center;
  font-size: 14px;

  /* width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px; */
}

#container{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  /* width: 70%; */
}

/* @media screen and (max-width: 800px)
{
  #container {
    width: 95%;
  }
} */

/* @media screen and (min-width: 800px)
{
  #container {
    width: 70%;
  }
} */

#inst{
  margin-bottom: 8px;
  font-size: 20px;
  text-align: center;
}

#board{
  background:#fff;
  border-radius: 4px;
  padding: 10px 0;
}

#member-board{
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

}

#member-board li{
  background: #33D6AD;
  min-width: 120px;
  /* width: 18%; */
  width: 30%;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  text-align:center;
  box-shadow: 0 4px 0 #00b386;
  font-size: 14px;
  user-select: none;
}

/* @media screen and (max-width: 800px)
{
  #member-board li{
    width: 30%;
  }
} */

@media screen and (min-width: 700px)
{
  #member-board li{
    width: 18%;
    max-width: 150px;
  }
}

#member-board li.pressed{
  background: #ff7e7e;
  box-shadow: none;
  margin-top: 9px;
  margin-bottom: 1px;
  user-select: none;
}

#member-board img{
  margin-top: 10px;
  width: 80%;
  border-radius: 4px;
}

#button{
  cursor: pointer;
  user-select: none;
  background: #f44336;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
  line-height: 45px;

  margin-top:8px;
  margin-bottom:22px;
}

#button:active{
  margin-top: 12px;
  margin-bottom: 18px;
  box-shadow: none;
}

#choice-board{
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-right: auto;
  margin-left: auto;

  width: 85%;
  justify-content: space-evenly;
}

#choice-board li{
  margin: 10px 20px 0 20px;
  border-radius: 4px;
  text-align:center;
  font-size: 14px;
  user-select: none;
}

#leftmember{
  background: #ff99e3;
}

#rightmember{
  background: #00aaff;
}

#choice-board img{
  width: 85%;
  margin-top: 10px;
  border-radius: 4px;
}

#choice-board div{
  line-height: 25px;
}

#volume-board p {

  width: 15%;
  text-align: center;
}

#left-value{
  color:#ff99e3;
}

#right-value{
  color:#00aaff;
}

#volume-board {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  width: 70%;

  display: flex;
  justify-content:space-between;
}

/* --------------------------------------------- */



#volume-board input[type="range"] { 
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  border-radius: 5px; /* iOS */
  margin-left: auto;
  margin-right: auto;
  border:2px solid #cccc;

  width: 80%;
}

::-webkit-slider-runnable-track {
  background: #00aaff;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px; /* 1 */
  height: 30px;
  background: #ffff;
  box-shadow: -100vw 0 0 99vw #ff99e3;
  border: 2px solid #ffff;
  border-radius:2px;
}

::-moz-range-track {
  height: 30px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 30px;
  width: 10px;
  border: 3px solid #999;
  border-radius: 10 !important;
  box-shadow: -100vw 0 0 100vw #ff99e3;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: #ff99e3;
}

::-ms-thumb { 
  background: #fff;
  border: 2px solid #999;
  height: 30px;
  width: 10px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 30px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}


/* --------------------------------------------- */

#piechart {
  padding-top: 10px;
  user-select: none;
}

#piechart div{
  margin-left: auto;
  margin-right: auto;
}

#tweet {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #00aced;
  min-width: 80px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #0089bd;
  font-size: 14px;
  user-select: none;

  text-decoration: none;
  color: #ffff;

  margin-top:8px;
  margin-bottom:22px;
}

#tweet-btn a{
  text-decoration: none;
}

#tweet:active{
  margin-top: 12px;
  margin-bottom: 18px;
  box-shadow: none;

}

#result-table{
  color:#444444;
  font-size: 14px;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#result-table th,#result-table td{
  padding: 10px 0;
  text-align: center;
}

#result-table tr:nth-child(odd){
  background-color: #eee
}

#ad {
  text-align: center;
  margin:10px;
}

footer {
  padding-bottom: 20px;
  background-color: #ffff;
  text-align: center;
}

footer span {
  margin: 0;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #cccccc;
}

.qt {
  font-size: 8px;
}

.qt a{
  text-decoration: none;
  color: #0089bd;
}

img{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  overflow:hidden;
}